body{
margin:0;
font-family: 'Poppins', sans-serif;
background: linear-gradient(135deg,#fdf2f8,#e0f2fe,#ecfdf5,#fef9c3);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

/* SPLASH */
#splash{
position:fixed;
width:100%;
height:100%;
background: linear-gradient(135deg,#fbcfe8,#bfdbfe,#bbf7d0,#fde68a);
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
}

.splash-content{
text-align:center;
position:relative;
}

.splash-content h1{
font-size:40px;
color:#4f46e5;
margin:10px 0;
font-weight:700;
}

.splash-content p{
font-size:18px;
color:#374151;
}

.splash-logo{
width:60px;
position:absolute;
top:-10px;
}

.left-logo{
left:-80px;
}

.right-logo{
right:-80px;
}

/* APP */
.app-container{
width:100%;
max-width:460px;
height:95vh;
background:rgba(255,255,255,0.85);
border-radius:30px;
box-shadow:0 20px 40px rgba(0,0,0,0.08);
overflow:hidden;
display:flex;
flex-direction:column;
}

.app-header{
text-align:center;
padding:25px;
background:#f3f4f6;
}

.app-header h1{
margin:0;
font-size:26px;
color:#4f46e5;
}

.app-header p{
margin:6px 0 0;
font-size:16px;
color:#555;
}

.screen{
flex:1;
padding:25px;
overflow-y:auto;
display:none;
}

.screen.active{
display:block;
}

.card{
display:flex;
align-items:center;
gap:18px;
padding:18px;
margin-bottom:18px;
background:#ffffff;
border-radius:18px;
box-shadow:0 8px 20px rgba(0,0,0,0.05);
cursor:pointer;
transition:0.3s ease;
}

.card:hover{
transform:translateY(-3px);
box-shadow:0 12px 25px rgba(0,0,0,0.08);
}

.icon{
font-size:26px;
}

.title{
font-size:17px;
font-weight:500;
color:#374151;
}

.playlist-btn{
display:block;
background:#c7d2fe;
color:#111827;
text-align:center;
padding:15px;
border-radius:18px;
text-decoration:none;
font-weight:600;
margin-top:18px;
transition:0.3s;
}

.playlist-btn:hover{
background:#a5b4fc;
}

.back-btn{
margin-top:25px;
width:100%;
padding:14px;
background:#e9d5ff;
border:none;
border-radius:16px;
font-size:16px;
font-weight:600;
cursor:pointer;
}

.back-btn:hover{
background:#d8b4fe;
}

h2{
text-align:center;
color:#6366f1;
margin-bottom:25px;
font-size:20px;
}
